@import "main.scss";
@import "footer.scss";
@import "container.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
   }
    
   body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    overflow-x:hidden;
}
    
   /* header */
    
   header {
    background-image: url(pictures2/header.png.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: auto;
    height: 60vw; 
   }
    
   .Voodoo {
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 2rem; 
   }
    
   /* Hey Guys */
    
   .flex-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    
   }

   .headline{
       display:flex;
       max-width:700px;
       /* margin: 0 auto; */
       flex-direction: column;
       
   }
   

.flex-container-2{
 max-width: 900px;
 margin: 0 auto;
 padding: 1rem 1rem 1rem 1rem;
 justify-content: column;

}
   
.section-1{
    display:flex;
    align-items:flex-end;
    justify-content: center;
}
  .section-1 p {
    width: 100%;
   }
    
   .img-right{
    margin-top: -9rem;
    
     
   }
    
   .youtubability { 
    margin-bottom: 30px;
   }
   

   .greybox{
       background-color:rgb(33, 35, 39);
       height:300px;

   }

   .flex-container-3{
    display:flex; 
    flex-direction: row;
    height:500px;
    align-items:center;
    text-align: right;
    max-width: 940px;
  

   }

   .img-left{
       padding-left:10rem;
   }

   .section-2{
    text-align:right;
    padding-left:2rem;
    padding-right:4rem;
    line-height:1.7rem;
  
   
   }

.section-3{
 text-align: left;
 /* width:700px; */
 padding-left:13rem;
 padding-right:2rem;
 padding-top:6rem;
 padding-bottom:5rem;
 max-width: 60rem;
 line-height:1.7rem;
    

}

.flex-container-4{
    position: relative;
    text-align:center;


}
 .section-4{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin:1rem;
 }

 .tipoftheweek{
     width: 100%;
     height:auto;
 }

 footer {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    padding: 80px;
    background-color: rgb(33, 35, 39);
    color: white; }
  
  .footer1 {
    display: inline-block; }
  
  .footer2 {
    display: inline-block;
    margin: 40px;

  }

  /*small phones*/

  @media (max-width: 400px) {


}
html, body{
    overflow-x:hidden;
    background-color:red
}

p {
font-size: 0.5rem;}

.headline {
 margin-bottom: 5rem;
 margin-top:3rem;
 padding-right: 7rem;
 

}
.flex-container-1{
    padding-right:1rem;
    padding-top:2rem;
    height:10vh;
    align-items:right;

   
   
}

.section-1 {
flex-direction: row;
align-items: left;
}

.flex-container-2{
 max-width: 800px;
 margin: 0 auto;


}
   
}
  .section-1 p {
    width: 50%;
    padding:1rem 1rem 1rem 1rem;
   }
    
   .img-right{
    margin-top: -9em;
    width: 50%;
    padding:2rem 0 5rem 2rem;

     
   }
    
   .youtubability { 
    margin-bottom: 30px;
    padding:1rem 1rem 1rem 1rem;

   }
 

.flex-container-3{
    display:flex; 
    flex-direction: row;
    height:500px;
    align-items:center;
    text-align: right;
  

}

.img-left{
    padding-left:1rem;
    padding-top:10rem;
    width:50%;
}

.section-2{
    
    text-align: right;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:10rem;
    line-height: 1.3rem;
    font-size:0.8rem;
    width:50%;

}
.section-3{
    font-size:0.8rem;
    padding:5rem 5rem 5rem 5rem;
    align-items: left;
  
    line-height:1.3rem;
}

.flex-container-4{
    justify-content: center;

}

.section-4{
font-size:0.8rem;
padding: -5rem 5rem -4rem 2rem;
max-width: 30rem;

}

.tipoftheweek{
    height:20rem;
}


.footer{
    padding: -3rem 0 0 3rem;


}

.footer1{
    font-size:0.8rem;
  
}

.footer2{
    font-size:0.8rem;
    padding-top:1rem;
    padding-left:4rem;
    

}



    /*tablet=767, 479 mobile, 980 ipad, 1440 mac/PC*/
@media (min-width: 600px) {

    html, body{
        overflow-x:hidden;
        background-color:blue;
    }

    p {
    font-size: 0.8rem;}

    .headline {
     margin-bottom: 7rem;
     padding-left: 2rem;
    
    }
    .flex-container-1{
        padding-right:7rem;
        padding-top:5rem;
        height:27vh;
        justify-content: center;
       
    }

    .section-1 {
    flex-direction: row;
    align-items: left;
    }

    .flex-container-2{
     max-width: 800px;
     margin: 0 auto;
    
   
    }
       
    }
      .section-1 p {
        width: 50%;
        padding:1rem 1rem 1rem 1rem;
       }
        
       .img-right{
        margin-top: -9em;
        width: 50%;
        padding:2rem 0 5rem 2rem;
   
         
       }
        
       .youtubability { 
        margin-bottom: 30px;
        padding:1rem 1rem 1rem 1rem;

       }
     

    .flex-container-3{
        display:flex; 
        flex-direction: row;
        height:500px;
        align-items:center;
        text-align: right;
      
   
    }

    .img-left{
        padding-left:1rem;
        padding-top:10rem;
        width:50%;
    }

    .section-2{
        
        text-align: right;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top:10rem;
        line-height: 1.3rem;
        font-size:0.8rem;
        width:50%;
   
    }
    .section-3{
        font-size:0.8rem;
        padding:5rem 5rem 5rem 5rem;
        align-items: left;
      
        line-height:1.3rem;
    }

    .flex-container-4{
        justify-content: center;
  
    }

    .section-4{
   font-size:0.8rem;
   padding: -5rem 5rem -4rem 2rem;
   max-width: 30rem;
  
    }

    .tipoftheweek{
        height:20rem;
    }


    .footer{
        padding: -3rem 0 0 3rem;


    }

    .footer1{
        font-size:0.8rem;
      
    }

    .footer2{
        font-size:0.8rem;
        padding-top:1rem;
        padding-left:4rem;
        

    }

    @media (min-width: 1200px) {



    /* Extra large devices (large desktops, 1200px and up) */
   @media (min-width: 1440px) 

   

    