
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
   overflow-x:hidden;
}


/* header */
header {
  background-image: url(pictures2/header.png.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: auto;
  height: 60vw; }

.Voodoo {
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 2rem; }

/* Hey Guys */
.flex-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right; }

.headline {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  flex-direction: column; }

  h2{
      padding-right:2rem;
      padding-bottom:2rem;
      padding-top:1rem;
      font-size:2.7rem;
      margin:-2rem;
  }

  .p-1{
      width:570px;
  }

/* Hey Guys */
.section-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.section-1 p {
  width: 50%; }

.img-right {
  margin-top: -9rem;
  width: 50%; 
}

.youtubability {
  margin-bottom: 30px;
 }

.flex-container-2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 150px 0 80px; 
}

.greybox {
  background-color: #212327;
  height: 300px; 
}

.flex-container-3 {
  display: flex;
  flex-direction: row;
  height: 500px;
  align-items: center;
  text-align: right;
  max-width: 1050px; 
}

.img-left {
  padding-left: 16rem; 
  
}

.section-2 {
  text-align: right;
  padding-left:2rem;


  
}

.section-3 {
  text-align: left;
  width:920px;
  padding-left: 20rem;
  padding-top:5rem;
 }

.flex-container-4 {
  position: relative;
  text-align: center;
 }

.section-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem; 
}

.tipoftheweek {
  width: 100%;
  height: auto;
 }

 h4{
     font-size:2.5rem;
     padding-bottom:2rem;
     padding-top:2rem;
 }

 .p-4{
     font-size:1rem;
     line-height:1.7rem;
 }

footer {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  padding: 80px;
  background-color: #212327;
  color: white; }

.footer1 {
  display: inline-block; 
}

.footer2 {
  display: inline-block;
  margin: 40px; 
}




  @media screen and (max-width: 992px) {
      html, body{
          background-color:green;
          overflow-x: hidden;
      }

      p{
          font-size:0.9rem;
      }

      .youtubability{
          padding-left:2rem;
      }

      .section-1 p {
        padding-left:2rem;
       }

      .section-2{
        padding-right:2rem; 
        padding-left:1rem;
       
      }

      .img-left{
        padding-left:1rem;
    }
    .section-3{
        padding-left:2.5rem;
        padding-right:2rem;
        width:600px;

    }


    h4{
        font-size:1.5rem;
    }

    .p-4{
        font-size:0.8rem;
        width:500px;
    }

    
    
    .footer{
        padding:1rem 1rem 1rem 1rem;
    
    }

    .footer1{
        padding-left:1rem;
        padding-right:1rem;
        margin:auto;
        font-size:0.8rem;

    }

    .footer2{
 
    padding-top:1rem;
    padding-left:4rem;
    margin:auto;
    font-size:0.8rem;
    }

    
    


      

    @media screen and (max-width: 600px) {
        body{
            background-color:red;
            overflow-x: hidden;
        }
        .Voodoo{
           margin-top:1rem;
           margin-bottom:2rem;
           
        }

        p{
            font-size:0.8rem;
        }


        h2{
            padding-right:6rem;
        }

        .p-1{
            width:450px;
        
        }

        .youtubability { 
            padding-left:3rem;
           }

        .section-1 p {
            padding-left:3rem;
           }
           .img-right{
            margin-top: -6rem;
            
           }

        .img-left{
            padding-left:-1rem;
            width:45%
        }

        .section-2{
           padding:2rem -3rem 1rem 3rem;
           
        
           
           }

           .section-3{
            padding:2rem 2rem 2rem 2rem;
            width:500px;
            
           }

           .tipoftheweek{
             width: 100%;
             height:18rem;
            }

           
            .section-4{
                padding-top:0rem;
                font-size:0.8rem;
                line-height:1rem;
                
                
            }

            h4{
                font-size:1rem;
                padding:1rem 1rem 1rem 1rem;
            }

            .p-4{
                width:400px;
            }
            footer {
                
                justify-content: space-between
                }
            
            .footer1{
                font-size:0.8rem;
                
            }

            .footer2{
                font-size:0.8rem;
            }


 
        @media screen and (max-width: 400px) {
            body{
                background-color:purple;
                overflow-x: hidden;
            }

            p{
                font-size:0.7rem;
            }

            
             .Voodoo{
             margin-top: 0.7rem;
             font-size: 1.2rem;
                }

                .flex-container-1 {
                    text-align: right;
                    
                   }
                    
                   .headline{
                     padding-left:1rem;
           
                   }
                   h2{
                       font-size:1rem;
                       padding-right:9rem;
                   }
                   .p-1{
                       font-size:0.7rem;
                       padding-right:5rem;
                       width:370px;

                   }
                    
                     
                   }
                   .flex-container-2{
                    /*max-width: 800px;*/
                    margin: 0 auto;
                    padding:2rem 1rem 2rem 1rem;
                    ;
                   
                }

                .section-1{
                    width:500px;
                    font-size:2rem;
                    text-align:left;
                    padding-right:5rem;

                }

                .img-right{
                    margin-top: -2rem;
                    padding-right:3rem;
                    
                }
        

                    .greybox{
                        height:200px;
                    }
                    .flex-container-3{
                        display:flex; 
                        flex-direction: column;
                        height:450px;
                        align-items:left;
                      
                       
                    }

                    .img-left{
                    padding:1rem 1rem 1rem 1rem;
                     
                    }
                 
                    .section-2{
                     text-align:right;
                     padding-right:3rem;
                     line-height:1rem;
                    
                  
                
                    }
                 
                 .section-3{
                
                        text-align: left;
                        width: 370px;
                        padding-left: 1rem; 
                        padding-right:1rem;
                        margin:auto;
                        line-height:1rem;
                    
                    }
                  
                 
                 .tipoftheweek{
                    width: 100%;
                    height:14rem;

                }
                .flex-container-4{
                    width:100%;
                     margin:auto;
                
                }
                 .section-4{
                     font-size:0.7rem;
                    margin:auto;    
                     
                 }

                 h4{
                     padding-top:6rem;
                 
                 }
                 .p-4{
                     padding-bottom: 3rem;
                     font-size:0.7rem;
                     line-height:1rem;
                     width:300px;
                    
                 }

                 footer {
                    display: flex;
                    justify-content: space-around;
                    flex-flow: row;
                    padding:1rem 1rem 1rem 1rem;
                    background-color: rgb(33, 35, 39);
                    color: white; }
                  
                  .footer1 {
                    padding:-3rem 1rem 1rem 1rem;
                    font-size:0.7rem;
                    margin:auto;
                }
                  
                  .footer2 {
                    padding:1rem 1rem 1rem 2rem;
                    font-size:0.7rem;
                    margin:auto;
                
                  }
                 




                   
            

