@import "main.scss";
@import "footer.scss";
@import "container.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
   }
    
   body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    
   /* header */
    
   header {
    background-image: url(pictures2/header.png.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: auto;
    height: 60vw; 
   }
    
   .Voodoo {
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 2rem; 
   }
    
   /* Hey Guys */
    
   .flex-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    
   }

   .headline{
       display:flex;
       max-width:700px;
       margin: 0 auto;
       flex-direction: column;
       
   }
   
   
.section-1{
    display:flex;
    align-items:flex-start;
    justify-content: center;
}
  .section-1 p {
    width: 50%;
   }
    
   .img-right{
    margin-top: -9rem;
    width: 50%;
    
    
   }
    
   .youtubability { 
    margin-bottom: 30px;
   }
   .flex-container-2{
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 0 80px;

    
   }

   .greybox{
       background-color:rgb(33, 35, 39);
       height:300px;

   }

   .flex-container-3{
    display:flex; 
    flex-direction: row;
    height:500px;
    align-items:center;
    text-align: right;
    max-width: 940px;
  

   }

   .img-left{
       padding-left:4rem;
   }

   .section-2{
    text-align:right;
  
   
   }

.section-3{
 text-align: left;
 width:700px;
 padding-left:10rem;

}

.flex-container-4{
    position: relative;
    text-align:center;


}
 .section-4{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin:1rem;
 }

 .tipoftheweek{
     width: 100%;
     height:auto;
 }

 footer {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    padding: 80px;
    background-color: rgb(33, 35, 39);
    color: white; }
  
  .footer1 {
    display: inline-block; }
  
  .footer2 {
    display: inline-block;
    margin: 40px;

  }

    
    /*tablet=767, 479 mobile, 980 ipad, 1440 mac/PC*/
@media (max-width: 767px) {
    p {
    font-size: 0.8rem;}
    .headline {
     margin-bottom: 7rem;
     padding-left: 5rem;
    }

    .flex-container-1{
        padding-right:7rem;
        padding-top:5rem;
        height:27vh;
    }



    .section-1 {
    flex-direction: column-reverse;
}

    .flex-container-2{
    padding: 2rem 1rem;
    align-items: center;
    }
    .img-right{
     padding: 5rem 0 0;
        
    }
    .flex-container-3{
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items:flex-start;
    height:auto;
    
  
    }

    .img-left{
        padding: 2rem 2rem 2rem 2rem;
    }

    .section-2{
        font-size: 0.7rem;
        padding: 4rem 4rem 4rem 4rem;

       
        
    }
    .section-3{
        font-size: 0.7rem;
        padding:4rem 2rem 2rem 2rem;
    }

     
    .section-4{
   font-size:0.7rem;
   padding: 2rem 2rem 2rem 2rem;
    }

    .footer1{
        font-size:0.7rem;
        

    }

    .footer2{
        font-size:0.7rem;
        padding: 

    }


    
    
        
    


   /* Medium devices (tablets, 768px and up) */
   @media (min-width: 768px) { 
    
    
   /* låta den ligga, ej viktigt just nu */ 
    /* Extra large devices (large desktops, 1200px and up) */
   @media (min-width: 1440px) { 
    
    