footer {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  padding: 80px;
  background-color: grey;
  color: white; }

.footer1 {
  display: inline-block; }

.footer2 {
  display: inline-block;
  margin: 40px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif; }

header {
  border: 2px solid green;
  text-align: center;
  padding-top: 2rem; }

.headerpicture {
  width: 110%;
  height: auto;
  align-items: center; }

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right; }

.article1 {
  text-align: right;
  font-size: 1.2rem;
  padding-top: 3rem;
  font-weight: 100; }

.container2 {
  display: flex;
  border: 8px solid black;
  height: 40vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.container3 {
  display: flex;
  border: 8px solid black;
  height: 40vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.blackbox {
  background-color: grey;
  height: 400px; }

.picture4 {
  width: 100%; }

.container5 {
  position: relative;
  text-align: center;
  color: black;
  border: 3px solid black; }

.article5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: darkgrey; }

.header5 {
  color: black; }

footer {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  padding: 80px;
  background-color: grey;
  color: white; }

.footer1 {
  display: inline-block; }

.footer2 {
  display: inline-block;
  margin: 40px; }
