/*Youtability*/

.flex-container-2{
 max-width: 800px;
 margin: 0 auto;
 padding: 150px 0 80px;

 
}
.section-1{
    display:flex;
    align-items:flex-start;
    justify-content: center;
}
  .section-1 p {
    width: 50%;
   }
    
   .img-right{
    margin-top: -9rem;
    width: 50%;
    
   }
    
   .youtubability { 
    margin-bottom: 30px;
   }

   .flex-container-2{
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 0 80px; 
  }

    