.flex-container-3{
    display:flex; 
    flex-direction: row;
    height:500px;
    align-items:center;
    text-align: right;
    max-width: 940px;
  

   }

   .img-left{
       padding-left:10rem;
   }

   .section-2{
    text-align:right;
    padding-left:2rem;
    padding-right:4rem;
    line-height:1.7rem;
  
   
   }

.section-3{
 text-align: left;
 /* width:700px; */
 padding-left:13rem;
 padding-right:2rem;
 padding-top:6rem;
 padding-bottom:5rem;
 max-width: 60rem;
 line-height:1.7rem;
    

}