.flex-container-4{
    position: relative;
    text-align:center;

}
 .section-4{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin:1rem;
 }

 .tipoftheweek{
     width: 100%;
     height:auto;
 }