/* header */
header {
  background-image: url(pictures2/header.png.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: auto;
  height: 60vw; 
}

  .Voodoo {
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 2rem; 
}