footer {
  display:flex;
  justify-content: space-around;
  flex-flow: row;
  padding:80px;
  background-color:grey;
  color:white;
  
}

.footer1{
  display: inline-block;
  
}
.footer2{
  display:inline-block;
  margin:40px;

}