*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-size: x-large;
    background-image: url(pictures2/header.png.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:500px;
}

 

    )
}
section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.article1{
    background-color:pink;

}
.blackbox{
    background-color:grey;
    height:600px;
    
}

.article{
       background-image: url(pictures2/Q1_newsletter-02.png);
       background-repeat: no-repeat;
       
    
}

footer{
    background-color:grey;
    color:white;
    line-height: 150%;

}
